<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Add a New Book</h1>
<form action="/add" method="POST">
    <input type="text" name="title" placeholder="Title" required><br>
    <input type="text" name="author" placeholder="Author"><br>
    <input type="number" name="rating" placeholder="Rating" min="1" max="10"><br>
    <textarea name="notes" placeholder="Your notes"></textarea><br>
    <input type="date" name="read_date"><br>
    <button type="submit">Add Book</button>
</form>
</body>
</html>
